{% extends "search/search_base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/search.css">
<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="text-center col-md-8 col-md-offset-2">
            <form action="/search/search_result/" method="post">
                {% csrf_token %}
                <div class="row">
                    <input class="form-control pull-left input-lg" id="id_search_term" maxlength="100" name="search_term" type="text" required pattern=".*\S+.*" title="This field is required" placeholder="Search" style="display:inline-block; width: calc(100% - 100px);">
                    <button type="submit" class="btn btn-success btn-lg pull-right" id="filter_submit">Search</button>
                </div>

                <div class="row">
                    <button type="button" class="btn btn-default pull-left btn-lg col-md-2 text-center check_button_margin" id="STEM_button">STEM</button>
                    <button type="button" class="btn btn-default pull-left btn-lg col-md-2 text-center check_button_margin" id="arts_button">Arts</button>
                    <button type="button" class="btn btn-default pull-left btn-lg col-md-2 text-center check_button_margin"id="academic_button">Academic</button>
                    <button type="button" class="btn btn-default pull-left btn-lg col-md-2 text-center check_button_margin" id="sports_button">Sports</button>
                    <button type="button" class="btn btn-default pull-right btn-lg col-md-2 text-center check_button_margin" id="tuition_button">Tuition</button>
                </div>

                <div style="display:none;">
                    <label for="id_category_0">Category:</label>
                    <ul id="id_category">
                        <li>
                            <label for="id_category_0"><input id="id_category_0" name="category" type="checkbox" value="STEM"> STEM</label>
                        </li>

                        <li>
                            <label for="id_category_1"><input id="id_category_1" name="category" type="checkbox" value="Arts/Humanities"> Arts/Humanities</label>
                        </li>

                        <li>
                            <label for="id_category_2"><input id="id_category_2" name="category" type="checkbox" value="Academic Prep"> Academic Prep</label>
                        </li>

                        <li>
                            <label for="id_category_3"><input id="id_category_3" name="category" type="checkbox" value="Sports"> Sports</label>
                        </li>
                    </ul>

                    <label for="id_price_0">Price:</label>
                    <ul id="id_price">
                        <li>
                            <label for="id_price_0"><input id="id_price_0" name="price" type="checkbox" value="TUITION"> TUITION</label>
                        </li>
                    </ul>
                </div>

            </form>
        </div>
    </div>
</div>

<script src="/static/js/search.js" defer></script>
{% endblock content %}
