{% extends "organization/organization_base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/organization.css">
<div class="container" style="margin-top:70px;">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ organization.name }}
            </h1>
            <div class="row">
                <div class="col-lg-6">
                    <div id="map-canvas" style ="width: 200 px; height: 300px"></div>
                    <p>Location: {{ organization.address }}</p>
                </div>
                <div class="col-lg-6">
                    <h3>
                        {% for i in starRange %}
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        {% endfor %}
                        {% for i in negativeStarRange %}
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        {% endfor %}
                    </h3>
                    <p>
                        {{ organization.description }}
                    </p>
                </div>
            </div>
            <div class="row">
                <h3>Reviews</h3>
                <div class="row">
                    <div class="container col-sm-6">

                        <form action = "{% url 'submit_form' %}" method = "post">
                            {% csrf_token %}
                            <input type="hidden" name="organization_id" value="{{ organization.organization_id }}">
                            <!-- user_id Field should be deleted -->
                            <input type = "hidden" name="user_id" value = "1"><br>

                            <div class="form-group row" id="review_star_selection">
                                <label for="rating" class="col-sm-2 col-form-label">Rating</label>
                                <div class="col-sm-10">
                                    <span class="glyphicon glyphicon-star-empty form_star" aria-hidden="true" data-review="1"></span>
                                    <span class="glyphicon glyphicon-star-empty form_star" aria-hidden="true" data-review="2"></span>
                                    <span class="glyphicon glyphicon-star-empty form_star" aria-hidden="true" data-review="3"></span>
                                    <span class="glyphicon glyphicon-star-empty form_star" aria-hidden="true" data-review="4"></span>
                                    <span class="glyphicon glyphicon-star-empty form_star" aria-hidden="true" data-review="5"></span>

                                    <input class="form-control" id="form_rating" name="rating" type="number" min="1"  max="5" required style="display: none;"></input>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="review_text" class="col-sm-2 col-form-label">Review</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="review_text" name="review_text" rows="3" placeholder="Write Review Here..." required></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">Submit</button>
                        </form>
                    </div>
                </div>

                <div class="container col-sm-4">
                </div>

                <div class="container col-sm-8" id="list_reviews">
                    {% for review in reviews %}
                    <div class="row">
                        <div class="col-lg-4 review-person">
                            <p>
                                {{ review.user_id.user.username }}
                            </p>
                            <p>
                                {{ review.user_id.school_name }}
                            </p>

                        </div>
                        <div class="col-lg-8 review-text">
                            <p>
                                {% for i in review.starRange %}
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                {% endfor %}
                                {% for i in review.negativeStarRange %}
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                {% endfor %}
                                 | {{ review.date }}
                            </p>
                            <p>
                                {{ review.review_text }}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

</div>


<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaRcVBVfVT8bTlZ5DUCir9qlT_EVYyWIM&sensor=false">
</script>

<script type="text/javascript">
 function initialize() {
   var mapOptions = {
     center: new google.maps.LatLng({{latitude}},{{longitude}}),
     zoom: 20,
     mapTypeId: google.maps.MapTypeId.ROADMAP
   };
   var map = new google.maps.Map(document.getElementById("map-canvas"),
       mapOptions);

   var myLatlng = new google.maps.LatLng({{latitude}},{{longitude}});
   var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title:"'. $xmladd .'"
  });
 }
 google.maps.event.addDomListener(window, "load", initialize);
</script>

<script src=/static/js/organization.js defer></script>

{% endblock %}
