{% extends "organization/organization_base.html" %}

{% block content %}
<div class="container" style="margin-top:70px;">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ organization.name }}
            </h1>
            <div class="row">
                <div class="col-lg-6">
                    <div id="map-canvas" style ="width: 200 px; height: 300px"></div>
                    <p>Location: {{ organization.address }}</p>
                </div>
                <div class="col-lg-6">
                    <h3>
                        {{ organization.rating }} Stars
                    </h3>
                    <p>
                        {{ organization.description }}
                    </p>
                </div>
            </div>
            <div class="row">
                <h3>Reviews</h3>

                <!-- Place jinja2 loop statement here -->
                <div class="row">
                    <div class="col-lg-4 review-person">
                        <p>
                            {{ user.name }} Alan Chen
                        </p>
                        <p>
                            {{ user.school_name }} CUNY Baruch
                        </p>
                    </div>
                    <div class="col-lg-8 review-text">
                        <p>
                            {{ review.rating }} 4 Stars | {{ review.date }} 10/14/2016
                        </p>
                        <p>
                            {{ review.review_text }}
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor vel velit id interdum. Vivamus tempus tortor vitae libero hendrerit, sed mollis est pharetra. Sed tellus quam, ornare quis orci maximus, efficitur rhoncus lacus. In at tellus massa. Sed finibus arcu ut metus rhoncus, ut porta nisi luctus. Curabitur eu nisl ac ante ornare lobortis quis vel est. Proin varius eleifend sem, egestas consequat massa ultricies in. Nullam eu lectus rutrum, finibus ante sed, tempor enim. Vestibulum finibus lobortis massa, et congue dui rhoncus ac. In ac justo et sapien efficitur varius nec a ante. In feugiat tempor aliquam. Sed a elit dignissim, tincidunt erat at, lacinia enim. Vivamus feugiat sem sed luctus viverra. Phasellus eros diam, congue sed elit at, lacinia dignissim lacus.
                        </p>
                    </div>
                </div>
                <!-- End loop -->
            </div>

        </div>
    </div>

</div>

<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaRcVBVfVT8bTlZ5DUCir9qlT_EVYyWIM&sensor=false">
</script>
<script type="text/javascript">
 function initialize() {
   var mapOptions = {
     center: new google.maps.LatLng({{latitude}},{{longitude}}),
     zoom: 20,
     mapTypeId: google.maps.MapTypeId.ROADMAP
   };
   var map = new google.maps.Map(document.getElementById("map-canvas"),
       mapOptions);

   var myLatlng = new google.maps.LatLng({{latitude}},{{longitude}});
   var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title:"'. $xmladd .'"
  });
 }
 google.maps.event.addDomListener(window, "load", initialize);
</script>

{% endblock %}
