<!DOCTYPE>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{{Title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/" style="font-size: 36px; font-weight:bold;">Enrich</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-left" action="/search/search_result/" method="POST">
            <div class="form-group">
                {% csrf_token %}
                <input class="form-control" id="id_search_term" maxlength="100" name="search_term" type="text" required="" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-success">Search</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{user.username}}
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/login/logout_user/">Logout</a></li>
                </ul>
            </li>
            {% endif %}

            {% if user.is_authenticated %} {% else %}
            <li>
              <a href="/login/"><span class="glyphicon glyphicon-user"></span> Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}{% endblock content %}

    <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
