.form_star {
    font-size: 22px;
}

#review_star_selection span {
    cursor: pointer;
}

#list_reviews {
    padding-top: 100px;
    padding-bottom: 100px;
}

#list_reviews .row {
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

textarea {
    resize: none;
    width: 100%;
}

.info_icon {
    font-size: 16px;
    margin-right: 10px;
}
